body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ddd;
}

.blog-post-card {
  background-color: white;
  border: solid 4px lightgray;
  border-radius: 5%;
  width: 30%;
  text-align: center;
  margin: 3rem auto;
}

.post-img {
  width: 100%;
  border-bottom: 4px black solid;
  border-radius: 5% 5% 0 0;
}

.post-content {
  padding: 1rem;
}

.post-title, .post-excerpt {
  margin: 1rem;
}
.post-title {
  color: #333;
}

.post-excerpt {
  color: #666;
}

